.elementor-2401 .elementor-element.elementor-element-0403e2a > .elementor-container{min-height:172px;}.elementor-2401 .elementor-element.elementor-element-0403e2a > .elementor-container:after{content:"";min-height:inherit;}.elementor-2401 .elementor-element.elementor-element-0403e2a{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-2401 .elementor-element.elementor-element-0403e2a:not(.elementor-motion-effects-element-type-background), .elementor-2401 .elementor-element.elementor-element-0403e2a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#4a1b8f;background-image:url("https://test-scorpio.option.cl/wp-content/uploads/2019/07/Banner_Blog.jpg");}.elementor-2401 .elementor-element.elementor-element-0403e2a > .elementor-background-overlay{background-color:#4a1b8f;opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2401 .elementor-element.elementor-element-8628cf1.elementor-column .elementor-column-wrap{align-items:center;}.elementor-2401 .elementor-element.elementor-element-8628cf1.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;justify-content:center;}.elementor-2401 .elementor-element.elementor-element-8628cf1 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-2401 .elementor-element.elementor-element-8628cf1 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-2401 .elementor-element.elementor-element-8628cf1 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2401 .elementor-element.elementor-element-06bc970{text-align:center;z-index:0;top:-20px;}.elementor-2401 .elementor-element.elementor-element-06bc970.elementor-widget-heading .elementor-heading-title{color:#f4f5ff;}.elementor-2401 .elementor-element.elementor-element-06bc970 .elementor-heading-title{font-family:"Syncopate", Sans-serif;font-weight:800;text-transform:uppercase;line-height:32px;letter-spacing:0.12px;}body:not(.rtl) .elementor-2401 .elementor-element.elementor-element-06bc970{left:0px;}body.rtl .elementor-2401 .elementor-element.elementor-element-06bc970{right:0px;}.elementor-2401 .elementor-element.elementor-element-17b7878{margin-top:36px;margin-bottom:36px;}.elementor-2401 .elementor-element.elementor-element-b79915d .oew-blog-grid .oew-grid-entry{width:calc( 100% / 3 );}.elementor-2401 .elementor-element.elementor-element-b79915d ul.page-numbers{text-align:right;}@media(max-width:1024px){.elementor-2401 .elementor-element.elementor-element-b79915d .oew-blog-grid .oew-grid-entry{width:calc( 100% / 2 );}}@media(max-width:767px){.elementor-2401 .elementor-element.elementor-element-06bc970{text-align:center;top:-24px;}.elementor-2401 .elementor-element.elementor-element-06bc970 .elementor-heading-title{font-size:36px;letter-spacing:0.12px;}.elementor-2401 .elementor-element.elementor-element-06bc970 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}body:not(.rtl) .elementor-2401 .elementor-element.elementor-element-06bc970{left:-1px;}body.rtl .elementor-2401 .elementor-element.elementor-element-06bc970{right:-1px;}.elementor-2401 .elementor-element.elementor-element-b79915d .oew-blog-grid .oew-grid-entry{width:calc( 100% / 1 );}}/* Start custom CSS for oew-blog-grid, class: .elementor-element-b79915d */.overlay:hover{
    background-color: rgba(192,53,162,0.6) !important;
}

.overlay p{
    font-family: "VT323", Sans-serif;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.overlay p i{
    font-size: 18px;
}

.oew-blog-grid .oew-grid-details .oew-grid-title{
    font-family: 'Syncopate';
    font-weight: 500;
}

.oew-grid-excerpt{
    font-family: 'Montserrat';
    font-weight: 400;
}/* End custom CSS */